body, html {
  height: 100%;
  font-family: 'Arvo', serif;
}

* {
  font-family: 'Arvo', serif;
  color: #404040;
}

.narrow-content {
  padding: 0 2.5em;
}

.row-bottom-padded-sm {
  padding-bottom: 1em; }

.container {
  width: 100%;
  margin: auto auto;
}

/*for mobile phones */
@media only screen and (max-width: 600px) {
  .narrow-content {
    padding: 0 5px !important;
  }


  .hero-text h1 {
    font-size: 40px !important;
    font-weight: normal;
    text-align: center;
    display: block;
    margin: 0;

  }


  .hero-text h2 {
    font-size: 17px !important;
    font-weight: normal;
    position: relative;
    text-align: center;
    display: block;
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .hero-text {
    text-align: right; /*for now*/
    position: absolute;
    top: 35% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    color: #404040;
    font-family: 'Arvo', serif;
  }


  #contact-button {
    display: block;
    font-family: 'Arvo', serif;
    width: 50% !important;
    border: 1px transparent;
    border-radius: 20px;
    color: #404040;
    top: 70%;
    text-decoration: none;
    font-size: 18px !important;
    background-color: transparent;
    padding-top: 0;
    padding-right: 0;
    white-space: nowrap;

  }


  #download-button {
    display: block;
    font-family: 'Arvo', serif;
    width: 50% !important;
    border: 1px transparent;
    border-radius: 20px;
    color: #404040;
    top: 70%;
    text-decoration: none;
    font-size: 18px !important;
    background-color: transparent;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
    .hero-image {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(components/images/hero-image.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      max-height: 700px;
      background-position: 35% 50% !important;
      width: 100%;
      overflow: hidden;
      z-index: -1;
    }
} /*for mobile phones */


/*for horizontal phones*/
@media only screen and (max-width: 670px) and (min-width: 600px) {
  .hero-image {
    max-height: 320px;
    background-size: 200% !important;
    background-position: 50% 70% !important;
  }

  .hero-text h1 {
    font-size: 40px !important;
    font-weight: normal;
    text-align: center;
    display: block;
    margin: 0;

  }


  .hero-text h2 {
    font-size: 17px !important;
    font-weight: normal;
    position: relative;
    text-align: center;
    display: block;
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 0px;
  }


  #contact-button {
    display: block;
    font-family: 'Arvo', serif;
    width: 50% !important;
    border: 1px transparent;
    border-radius: 20px;
    color: #404040;
    top: 70%;
    text-decoration: none;
    font-size: 18px !important;
    background-color: transparent;
    padding-top: 0;
    padding-right: 0;
    white-space: nowrap;

  }


  #download-button {
    display: block;
    font-family: 'Arvo', serif;
    width: 50% !important;
    border: 1px transparent;
    border-radius: 20px;
    color: #404040;
    top: 70%;
    text-decoration: none;
    font-size: 18px !important;
    background-color: transparent;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
  }


}

/*for large horizontal phones*/
@media only screen and (max-width: 767px) and (min-width: 671px) {

  .hero-image {
    max-height: 400px;
    background-size: 200% !important;
    background-position: 50% 80% !important;
  }

  .hero-text h1 {
    font-size: 40px !important;
    font-weight: normal;
    text-align: center;
    display: block;
    margin: 0;

  }


  .hero-text h2 {
    font-size: 17px !important;
    font-weight: normal;
    position: relative;
    text-align: center;
    display: block;
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  #contact-button {
    display: block;
    font-family: 'Arvo', serif;
    width: 50% !important;
    border: 1px transparent;
    border-radius: 20px;
    color: #404040;
    top: 70%;
    text-decoration: none;
    font-size: 18px !important;
    background-color: transparent;
    padding-top: 0;
    padding-right: 0;
    white-space: nowrap;

  }


  #download-button {
    display: block;
    font-family: 'Arvo', serif;
    width: 50% !important;
    border: 1px transparent;
    border-radius: 20px;
    color: #404040;
    top: 70%;
    text-decoration: none;
    font-size: 18px !important;
    background-color: transparent;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
  }

}

/*for vertical tablets*/
@media only screen and (max-width: 1020px) and (min-width: 768px) {
  .hero-image {
    height: 930px !important;
    background-position: 30% 50% !important;
    width: 100%;
    overflow: hidden;
  }


  .hero-text {
    text-align: right; /*for now*/
    position: absolute;
    top: 30% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    color: #404040;
    font-family: 'Arvo', serif;
  }
}

/*for horizontal tablets*/
@media only screen and (max-width: 1024px) and (min-width: 1020px) {
  .hero-image {
    max-height: 700px;
    background-size: 200% !important;
    background-position: 50% 80% !important;
  }
}


  .hero-text {
    text-align: right; /*for now*/
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: #404040;
    font-family: 'Arvo', serif;
  }


  .hero-text h1 {
    font-size: 4em;
    font-weight: normal;
    text-align: center;
    display: block;
    margin: 0;

  }


  .hero-text h2 {
    font-size: 1.5em;
    font-weight: normal;
    position: relative;
    text-align: center;
    display: block;
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 0px;
  }


  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(components/images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100%;
    overflow: hidden;
    z-index: -1;

  }



#icon-list-intro {
  display: flex;
  align-items: center;
  justify-content: left;

}

.social-media-image {
  flex-basis: 40%;
}

.social-media-text{
  margin-left: 0;
  padding-bottom: 5px;
}



.github-intro {
  clear: left;
  padding-left: 1px;
  padding-right: 20px;
}

.linkedin-intro {
  padding-left: 1px;
  clear: left;
}

.material-icons {
  white-space: nowrap;
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);

}
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


#contact-button {
  display: block;
  font-family: 'Arvo', serif;
  width: 23%;
  border: 1px transparent;
  border-radius: 20px;
  color: #404040;
  top: 70%;
  text-decoration: none;
  font-size: 1.3em;
  background-color: transparent;
  padding-top: 0;
  padding-right: 0;
  white-space: nowrap;

}


#download-button {
  display: block;
  font-family: 'Arvo', serif;
  width: 65%;
  border: 1px transparent;
  border-radius: 20px;
  color: #404040;
  top: 70%;
  text-decoration: none;
  font-size: 1.3em;
  background-color: transparent;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
}




.slides {
  list-style: none;
}



/*******************************************************************************************************************/
/* NavBar */
/* change the color of the navbar to transparent or dark*/


.navbar-background {
  overflow: hidden; /*
  opacity: 0.70;
  filter: alpha(opacity=70); */
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  width: 100%;
  top: 0; /*stay at top*/
  transition: top 0.3s; /*the transition effect when sliding down and up*/
  z-index: 1;
}

.nav-list li, a, ua{
  display: block;
  font-family: 'Arvo', serif;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  float: right;
}

.nav-list h2 {
  color: #404040;
  display: block;
  font-family: 'Arvo', serif;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  float: left;
  font-weight: normal;
  margin-left: 40px;/*
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;*/
}

.nav-list a:hover{
  color: #fcaf50;
}


.nav-list a:active {
  /*background-color: #fcaf50;*/
  color: #fcaf50;
}

.hamburger {
  display: none;
}


.bars {
  display: block;
  width: 23px;
  height: 3px;
  margin: 5px auto;
  margin-top: 1px;
  /*
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;*/
  background-color: #404040;
}



@media only screen and (max-width: 600px) {
  .navbar-background {
    height: 50px;

  }


  .nav-items a{
    position: fixed;
    left: -100%; /*need to change this back to -100*/
    width: 100%;
    top: 10px;
    color: #f4f4f4;
    text-align: center;
    transition: 0.3s;
    box-shadow:
            0 10px 27px rgba(64, 64, 64, 0.05);
    background-color: rgb(64, 64, 64);

  }

  #About-link {
    top: 58px;
  }

  #Timeline-link {
    top: 106px;
  }

  #Contact-link {
    top: 154px;

  }


  .nav-items.active a {
    left: 0;
  }

  .nav-items a {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger a:hover span.bars{
    background-color: #f4f4f4;
}

  .nav-list h2 {
    margin-left: 25px;
    margin-top: 17px;

  }
}




/*
<NavBar />*******************************************************************
 */

/*
<About> *******************************************************************
 */

.about {
  background-color: whitesmoke;
  margin: auto;
  overflow: hidden;
  height: auto;
}

.heading-meta {
  font-family: 'Arvo', serif;
  margin-top: 15px;
  display: block;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
  text-align: center;
  width: 100%;
  position: relative;
  padding-top: 100px;
  padding-bottom:5px;

}

.author-image {
  border-radius: 100%;
  display: block;
  margin-left:auto;
  margin-right: auto;
  position: relative;
  border: 2px solid #404040;

}

h2.author-name{
  font-family: 'Arvo', serif;
  display: block;
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  position: relative;

}

/*for mobile phones vertical */
@media only screen and (max-width: 600px) {
  p.about-paragraph {
    padding: 0 15px !important;
  }
  .about {
    height: auto;
  }
}

/*for horizontal phones */
@media only screen and (max-width: 767px)  and (min-width: 600px) {
  p.about-paragraph {
    padding: 0 5px !important;
  }
  .about {
    height: auto;
  }
}

/*for tablets */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  p.about-paragraph {
    padding: 0 5px !important;
  }
  .about {
    height: auto;
  }

}


p.about-paragraph {
  padding: 0 8em;
  font-family: 'Arvo', serif;
  text-align: center;
}

/*for vertical phones*/
@media only screen and (max-width: 600px) {
  .col-row {
    padding: 0 2em !important;
  }

  .about-second {
    height: auto !important;
    padding-bottom: 45px !important;
  }
}

/*for horizontal phones*/
@media only screen and (max-width: 767px)  and (min-width: 600px) {
  .col-row {
    padding: 0 2em !important;
  }

  .about-second {
    height: auto !important;
    padding-bottom: 45px !important;
  }
}

/*for tablets*/
@media only screen and (max-width: 1000px) and (min-width: 800px) {
  .col-row {
    padding: 0 2em !important;
  }

  .about-second {
    padding-bottom: 45px !important;
    height: auto !important;
  }

  div#card-two.card {
    padding-bottom: 10px;
  }

  h4#h4-card-three {
    padding-top: 18px;
  }

  div#card-three.card {
    padding-bottom: 12px;
  }
}

@media only screen and (max-width: 799px) and (min-width: 767px) {
  .col-row {
    padding: 0 2em !important;
  }

  .about-second {
    padding-bottom: 45px !important;
    height: auto !important;
  }

  div#card-two.card {
    padding-bottom: 30px;
  }



  h4#h4-card-three {
    padding-top: 18px;
  }

  div#card-three.card {
    padding-bottom: 12px;
  }

  h4#h4-card-two-language {
    padding-top: 10px;
  }

  h4#h4-card-three-language {
    padding-top: 10px;
  }

}
@media only screen and (max-width: 1024px) and (min-width: 1000px) {
  .col-row {
    padding: 0 2em !important;
  }

  .about-second {
    padding-bottom: 45px !important;
    height: auto !important;
  }

  h4#h4-card-two-language {
    padding-top: 30px;
  }
  h4#h4-card-one-language {
    padding-top: 20px;
  }

  h4#h4-card-one {
    margin-top: 2px;
  }

  div#card-three.card {
    padding-bottom: 10px;
  }

}


@media only screen and (max-width: 1367px) and (min-width: 1025px) {
  .about-second {
    height: 1000px !important;
  }


}



.about-second {
  background: #e6e6e6;
  overflow: hidden;
  margin: auto;
  height: 900px;
}


h2.heading {
  display: block;
  font-size: 1.5em;
  font-family: 'Arvo', serif;
  font-weight: 500;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  position: relative;
}

* {
  box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    display: block;
    font-size: 1em;
  font-family: 'Arvo', serif;
    text-align: center;
    position: relative;
    padding: 0 5px;
  }

.column h3 {
    font-weight: normal;
    font-size: 1.5em;
}

.col-row {
  padding: 0 8em;
  margin: 0 -5px;
}



.col-row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /*adds the card  */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  overflow: hidden;
  padding-bottom: 30px;
}



@media screen and (max-width: 738px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}




/*
<About /> *******************************************************************
 */


/*
<timeline>
 */


/*for mobile phones */
@media only screen and (max-width: 737px) {
  #timeline-heading {
    font-size: 50px !important;
  }

  #timeline-paragraph {
    width: 165%;
  }

  .item {
    top: 270px !important;

  }

  #Timeline .timeline {
    height: 3900px !important;
  }

  .heading-p-container {
    position: absolute;
    left:55%;
  }
}

/*for horizontal phones*/
@media only screen and (min-width: 601px) and (max-width: 738px) {
  #timeline-heading {
    font-size: 50px !important;
  }


  #timeline-paragraph {
    width: 90%;
    word-wrap: normal;
  }



}

/*for large phones and tablets*/
@media only screen and (min-width: 739px) and (max-width: 900px) {
  #timeline-heading {
    font-size: 50px !important;
  }


  #timeline-paragraph {
    width: 90%;
    word-wrap: normal;
  }



}


/*for height*/
/*the way I created the tinmeline uses some absolute elements which is
intefering wth attempting to use height: auto.
Will fix later with a more permenant fix
 */

@media only screen and (min-width: 701px) and (max-width: 732px) {
  section#Timeline .timeline {
    height: 2250px !important;
  }
}

@media only screen and (min-width: 669px) and (max-width: 700px) {
  #Timeline .timeline {
    height: 2350px !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 668px) {
  section#Timeline .timeline {
    height: 2400px !important;
  }
}

@media only screen and (min-width: 400px) and (max-width: 599px) {
  #Timeline .timeline {
    height: 3400px !important;
  }
}

@media only screen and (min-width: 733px) and (max-width: 767px) {
  #Timeline .timeline {
    height: 2250px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
  #Timeline .timeline {
    height: 3800px !important;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1024px) {
  #Timeline .timeline {
    height: 2700px !important;
  }
}
/***********************************************************************************/

.heading-p-container {
  width: 50%;
  text-align: right;
  float: right;
}


#timeline-heading {
  color: #e6e6e6;
  padding-top: 5px;
  font-size: 4em;
  font-family: 'Arvo', serif;
  font-weight: normal;
  margin-bottom: 0;
  padding-right: 45px;
  padding-bottom: 2px;
  float: right;
}

#timeline-paragraph {
  color: #e6e6e6;
  float: right;
  position: relative;
  padding-right: 45px;
  padding-top: 0;
  margin-top: 6px;

}


.timeline-page {
  background-color: #bdb7ab;
  overflow: hidden;
}

#timeline {
  background-color: #bdb7ab;
}

#Timeline .timeline {
  height: 2200px;
}


.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;


}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #e6e6e6;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.item {
  padding: 10px 40px;
  position: relative;
  top: 200px;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.item::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #404040;
  border: 4px solid dimgrey;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent whitesmoke;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent whitesmoke transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: whitesmoke;
  position: relative;
  border-radius: 6px;
  color: #404040;
  font-weight: normal;
  font-size: 14px;

}

.content h2, h3 {
  margin: 2px;
}


.content p {
  margin-left: 4px;
  margin-top: 8px;
  margin-bottom: 10px;
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 737px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .item {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .item::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
/*add below responsive timeline details*/


/*
</timeline>
 */


/***********************************************************************************************/
/*
<contact>
 */

/*for mobile phone*/
@media only screen and (max-width: 735px) {
  .column-contact {
    width: 100% !important;
    text-align: center;
    margin-top: 5px !important;

  }

  .contact h1 {
    margin-bottom: 0 !important;
  }

  .column-contact {
    padding-top: 0 !important;
  }
}

.contact {
  background-color: #e6e6e6;
  overflow: hidden;
  border-radius: 5px;
  padding: 10px;
}

.contact h1 {
  text-align: center;
  font-size: 40px;
  font-weight: normal;
}

.contact h2 {
  font-weight: normal;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


input[type=submit]{
  background-color: #404040;
  color: whitesmoke;
  padding: 12px 20px;
  border: none;
  cursor: pointer;

}

input[type=submit]:hover {
  background-color: #9d9d9d;
}


.column-contact {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}


#icon-list-contact {
  display: flex;
  align-items: center;
  justify-content: left;
}

.social-media-image {
  flex-basis: 40%;
}

.social-media-text{
  margin-left: 0;
  padding-bottom: 5px;
}



.github-intro {
  clear: left;
  padding-left: 1px;
  padding-right: 20px;
}

.linkedin-intro {
  padding-left: 1px;
  clear: left;


}




/*
</contact>
 */